<!DOCTYPE html>
<html lang="en_gb">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    <meta name="theme-color" content="">
    <meta name="msapplication-navbutton-color" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link href="/assets/style/main.css" rel="stylesheet" type="text/css">
    <link href="{{ page.favicon }}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{{ page.favicon }}" rel="icon" type="image/x-icon"/>
    {% seo %}
</head>
<body class="mode">
<nav class="navbar">
    <a class="visit" href="/">Home</a>
    <a class="visit" href="/projects">Projects</a>
</nav>
<main class="main">
    {{ content }}
</main>
{% include footer.html %}
</body>
</html>