<!DOCTYPE html>
<html lang="en_GB">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="/assets/style/main.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        {% seo %}
    </head>
    <body class="mode">
    <main class="main">
        {{ content }}
    </main>
    {% include footer.html %}
    </body>
</html>