/* Elements */
* {
    margin: 0;
    padding: 0;
}

a {
    font-size: 20px;
    color: inherit;
    text-decoration: none;
}

/* Classes */
.bar{
    grid-area: bar;

    position: fixed;
    padding-left: 50px;
    padding-top:20px; 
    
    text-align: center;
}

.bar-item{
    padding-top: 20px;
}

.main{
    grid-area: main;
}

.extras{
    grid-area: extras;
}

.footer{
    grid-area: footer;
    font-size: 80%;
    padding-bottom: 30px;
    text-align: center;
}

img[role="logo-bar"]{
    width:30px;
    height: auto;
}

/* IDs */
#extras-1{
    text-align: right;
    font-size: 30px;
    padding-top: 50px;
}

#wrapper{
    display: grid;
    grid-row-gap: 20px;
    grid-template-areas: "bar"
                         "main"
                         "extras"
                         "footer";
}

#main{
    text-align: justify;
    padding-left: 6%;
    padding-right: 6%;
}

#main-header{
    text-align:center; 
    padding-top: 30px; 
    padding-bottom: 30px;
    font-size: 130%;
}

#bar-profile p{
    font-size: 10px;
}

/* Media queries */
@media (min-width: 1024px) {
    #wrapper{
        grid-template-columns: 25% 45% 20%;
        grid-template-rows: 90% 10%;
        grid-template-areas: "bar main extras"
                             "bar footer extras";
    }

    #main{
        padding-left: 0%;
        padding-right: 0%;
    }
}

