<footer class="footer">
        <p class="footer-text copyright">&copy; Peter McNeil, 2018 </p>
        <a class="footer-link footer-github" href="https://www.github.com/petermcneil">
            <img class="icon" src="{{ "/assets/images/github.svg" | relative_url }}" alt="Github logo, click for Peter McNeils profile" role="presentation">
        </a>
        <a class="footer-link footer-linkedin" href="https://www.linkedin.com/in/peter-mcneil">
            <img class="icon" src="{{ "/assets/images/linkedin.svg" | relative_url }}" alt="Linkedin logo, click for Peter McNeils profile" role="presentation">
        </a>
        <a class="footer-text license" href="https://fontawesome.com/license">
            <p>Licenses for third-party products</p>
        </a>
        <!--<script async defer src="{{ "/assets/scripts/function.js" | relative_url }}"></script>-->
    </footer>