<div class="bar">
        <nav class="bar-nav">
            <a href="/">Home</a>
            <a href="/portfolio/">Portfolio</a>
            <a href="/cv/">CV</a>
        </nav>
        <figure>
            <img class="bar-item" src="{{ "/assets/images/my_face.jpeg" | relative_url }}" role="profile">
        </figure>
        <ul class="bar-item">
            <li>Peter McNeil</li>
            <li>Junior Software Engineer</li>
            <li>BBC News</li>
        </ul>
        <a class="bar-item" href="https://www.github.com/petermcneil"><img src="{{ "/assets/images/github.svg" | relative_url }}" role="icon"></a>
        <a class="bar-item" href="https://www.linkedin.com/in/peter-mcneil"><img src="{{ "/assets/images/linkedin.svg" | relative_url }}" role="icon"></a>
    </div>