<div class="bar">
        <nav class="bar-nav">
            <a href="/">Home</a>
            <a href="/portfolio/">Portfolio</a>
            <a href="/cv/">CV</a>
        </nav>
        <figure id="bar-pic" class="bar-item">
            <img class="bar-profile" src="{{ "/assets/images/my_face.jpeg" | relative_url }}" alt="Peter McNeil standing in the BBC" role="presentation">
        </figure>
        <div id="bar-info">
            <ul class="bar-item">
                <li>Peter McNeil</li>
                <li>Junior Software Engineer</li>
                <li>BBC News</li>
            </ul>
            <a class="bar-item" href="https://www.github.com/petermcneil">
                <img class="icon" src="{{ "/assets/images/github.svg" | relative_url }}" alt="Github logo, click for Peter McNeils profile" role="presentation">
            </a>
            <a class="bar-item" href="https://www.linkedin.com/in/peter-mcneil">
                <img class="icon" src="{{ "/assets/images/linkedin.svg" | relative_url }}" alt="Linkedin logo, click for Peter McNeils profile" role="presentation">
            </a>
        </div>
    </div>